body {
  /* Set margin to 0 pixels on all sides */
  margin: 0;
  /* Set font family to be Helvetica or Arial */
  font-family: Helvetica, Arial, sans-serif;
  /* Set line height to be 1.5 times larger than default */
  line-height: 1.5;
}

header {
  /* Set padding to 20 */
  padding: 20px;
}

main {
  /* Set maximum width to be 800 pixels */
  max-width: 800px;
  /* Set margin to be automatically calculated on all sides */
  margin: auto;
  /* Set padding to be 0 pixels top & bottom, and 20 pixels left & right */
  padding: 0px 20px;
}

p {
  /* Set font color to be the hex code 333333 */
  color: #333333;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  /* Set border along bottom to be a black solid line 5 pixels thick */
  border-bottom: 5px solid black;
}

h2 {
  /* Set font color to be red (BONUS: try using a hex code like #C80651!) */
  color: #c80651;
}

blockquote {
  /* Set margin 0 top and bottom and 20 left and right */
  margin: 0 20px;
  /* setpadding left to be 10px */
  padding-left: 10px;
}

blockquote p {
  /* Opacity 0.7 */
  opacity: 0.7;
  /* Set font size to be double of actual size */
  font-size: 2em;
  /* Set font to be italic */
  font-style: italic;
}

ul li {
  /* Set font color to be the hex code 333 */
  color: #333333;
}

ul li span {
  /* Set an underline */
  text-decoration: underline;
  /* Set font to be bold */
  font-weight: 800;
}

footer {
  /* Set font color to white */
  color: white;
  /* Set background color to #c80651 */
  background-color: #c80651;
  /* Set padding on all sides to be 20 pixels */
  padding: 20px;
  /* Set text alignment to center */
  text-align: center;
  /* Set margin on top to be 60 pixels */
  margin-top: 60px;
}

@media (max-width: 600px) {
  body {
    /* Set body font size 14 px */
    font-size: 14px;
  }

  ul {
    /* Set body padding left 20 px */
    padding-left: 20px;
  }
}
